@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
   --gray: #17191d 

}

/* most code written mobile first */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: aliceblue;
    color: var(--gray);
    /* overall page stylings. wanted a color not white but not overbearing */
}

h1{
    /* first header on aboutme.html. it is literally just my name. Originally I was going to use it for every page but felt it was tacky so I ended up switching to different headers so I could style them in case I wanted to reuse it*/
    display: flex;
    font-weight: 700;
    font-size: 40px; 
    margin: 1% 0 10% 0;
    flex-wrap: nowrap;
    justify-content: center;
}

h2{
    /* again planned on reusing it for all the different tabs on the about me section but it didn't end up looking right so I didn't switch it.  */
    position: relative;
    float: left;
    font-size: 20px;
    margin-left: 5%;
    padding-right: 1%;
}

.vl {
    /* this is my code for the small bars next to About Me and Projects. */
    display: flex;
    border-left: 6px solid black;
    height: 10px;
    float: inline-start;
}


.para1{
    /* This is the class for the about me text. */
    font-size: 12px;
    margin-left: 25%;
    margin-right: 5%;
    padding-top: .5%;
    padding-left: 1%;
}

.nav{
    /* nav bar code to make it stick to the right */
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav a{
    /* nav bar code to add a little bit of spacing between each a tag. */
    padding: 12px;
}

div{
    /* a fat line break cause no other solutions were working for me. really happy with how well it worked. */
   display: block;
    padding-bottom: 5%;
}

h3{
    /* ended up creating a new setup for the h3 tag for "Projects". */
    position: relative;
    float: left;
    font-size: 20px;
    margin-left: 5%;
    padding-right: 1%;
}

.vp {
    /* needed a slightly different class for the small black bar next to the About Me and Projects headers. */
    display: flex;
    border-left: 6px solid black;
    height: 10px;
    float: inline-start;
}

.para2{
    /* This code was honestly the most time consuming part of it. I was going to change it but I really am proud of it even though it was a pain in the ass.  */
    color: transparent;
    font-size: 12px;
    margin-left: 21.5%;
    margin-right: 5%;
    padding: 5% 10% 10% 5%;
    background-repeat: repeat;
    background-image: url(caesarcipher.jpg);
    border: 2px black solid;
    transition: ease 1.5s;
} 

.pog{
    /* smaller boxes under the big main one. Didn't have any content for them but they were premade so it was easy. */
    display: flex;
    flex-wrap: nowrap;
    color: transparent;
    font-size: 12px;
    margin-left: 21.5%;
    padding: 5% 10% 10% 5%;
    background-repeat: repeat;
    background-image: url(caesarcipher.jpg);
    border: 2px black solid;
    transition: ease 1.5s;
    width: 26%;
    float: left;
} 


.para2:hover{
    /* hover code for the big box. Makes the text below visible*/
    color: var(--gray);
    background-image: none;
}

h4{
    /* code for contact me page. */
    display: flex;
    justify-content: center;
    font-size: 50px;
}

h5{
    /* main index header code. */
    display: flex;
    justify-content: center;
    font-size: 25px; 
}

h6{
    /* caption for the big projects box */
    padding-left: 21.5%;
    font-size: 12px;
}

.para3{
    /* code for the captions next to the picture on contactme.html */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 12px;
    padding-left: 5%;
    padding-right: 5%;
}

img{
    /* beautiful picture of me with a lobster and my friend */
   height: 100px;
   padding-left:10% ;
   float: left;
}

.spacing{
    padding-left: 2px;
}

/* media query for medium sized screens such as tablets */

@media only screen and (min-width: 600px) {

    h1{
        font-size: 60px; 
    }
        
    h2{
        font-size: 35px;
    }
        
    .vl {
        height: 10px;
    }

    .para1{
        font-size: 15px;
    }
        
    h3{
        font-size: 35px;
    }
      
    h4{
        font-size: 75px; 
    }

    h5{
        font-size: 35px; 
    }

    h6{
        font-size: 15px;
    }

    .vp {
        height: 10px;
    }
        
    .para2{
        font-size: 15px;
    }

    .para3{
        font-size: 18px;
    }

    img{
        height: 400px;
    }
        }
        

/* media query for big screens */

  @media only screen and (min-width: 1300px) {

    h1{
        font-size: 80px;
    }
    
    h2{
        font-size: 72px;
    }
    
    .vl {
        height: 100px;
    }

    .para1{
        font-size: 18px;
    }

    h3{
        font-size: 72px;
    }
    
   h4{
        font-size: 100px; 
    }

    h5{
        font-size: 50px; 
    } 

    .vp {
        height: 100px;
    }
    
    img{
        height: 600px;
    }

    h6{
        font-size: 20px;
    }

    .para2{
        font-size: 18px;
    } 
    
    .para3{
        font-size: 25px;
    }
}

